{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% blocktrans %}
      Create a link between a Cinder Backend and an HPE 3PAR SSMC Instance.
      <br>
      <br>
      Once created, any volume or snapshot hosted on the cinder backend will show additional actions
      available in the Horizon Admin "Volumes" panel tables. These actions will include the ability to
      link directly to its associated volume/snapshot details panel in HPE 3PAR SSMC.
      <br>
      <br>
      Note that the HPE 3PAR SSMC Username and Password will be used to set the access-level to
      SSMC once it is launched.
     {% endblocktrans %}
  </p>
{% endblock %}

