{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% blocktrans %}
      Run connection test on the registered node to verify SSH credentials.
      <br>
      <br>
      The SSH connection test will fail if either the node is unreachable, or the provided
      SSH credentials are invalid.
      <br>
      <br>
      Warning - this test may take several minutes to complete.
     {% endblocktrans %}
  </p>
{% endblock %}

